:root {
  --color-body-0: #055eb2;
  --color-body-10: #fc6b0f;
  --color-body-20: #ff6500;
  --color-text-30: #7f858d;
  --color-text-40: #f2f3f4;
  --color-text-50: #42464d;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

header {
  width: 100%;
  height: 138px;
  background-color: var(--color-body-0);
  display: flex;
}

#topo {
  justify-content: left;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

#topo img {
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  display: flex;
  min-height: 75vh;
  background-color: var(--color-body-20);
}

.carrossel {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  background-color: var(--color-text-40);
  margin: auto;
  flex-wrap: wrap;
}

.titulos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.title-left {
  display: flex;
  margin-left: 45px;
}

.title-right {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}

.title-right img {
  max-height: 12px;
  margin: auto 0px;
}

.title-right u {
  margin-right: 5px;
}

.titulos h2 {
  color: var(--color-text-50);
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.titulos .star img {
  position: relative;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.titulos u {
  display: flex;
  float: right;
  max-width: 100%;
  color: var(--color-body-20);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  flex-wrap: wrap;
}

.titulos .seta_title img {
  display: flex;
  justify-content: right;
  align-items: right;
  float: right;
  vertical-align: baseline;
}

.slides {
  max-width: 1200px;
  max-height: 500px;
  display: flex;
  margin: 0px auto;
}

.card {
  min-width: 280px;
  min-height: 200px;
  position: relative;
  border-radius: 0.25rem;
  background-color: white;
  margin: 10px;
  flex: 1 1 200px;
}

.card .legenda {
  width: 250px;
  height: 80px;
  font-weight: 600;
  line-height: 18px;
  font-size: 16px;
  margin-left: 15px;
}

.card .valor {
  width: 198px;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-body-20);
  font-weight: 700;
  margin-left: 15px;
}

.card .type_payment {
  width: 198px;
  color: var(--color-text-30);
  font-weight: 600;
  line-height: 30px;
  font-size: 12px;
  margin-left: 15px;
}

.card button {
  width: 200px;
  height: 45px;
  background-color: var(--color-body-20);
  border-radius: 4px;
  border-color: var(--color-body-20);
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  margin: 20px 50px;
  flex-wrap: wrap;
}

footer {
  width: 1440px;
  height: 110px;
  background-color: var(--color-body-0);
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#rodape {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

#rodape img {
  background-repeat: no-repeat;
  background-position: center center;
}

/* Adicionando responsividade */

@media screen and (min-width: 1400px) {
  .carrossel {
    height: 100vh;
  }
  .titulos {
    margin: 10px;
  }

  .title-right img {
    max-width: 7px;
    max-height: 12px;
    margin: auto;
  }

  .slides {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    overflow-x: visible;
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 550px) {
  header {
    align-items: center;
    justify-content: center;
    margin: auto 0px;
  }

  .carrossel {
    height: 100%;
  }

  #topo {
    width: 100%;
    margin: auto 0px;
    justify-content: center;
    align-items: center;
  }
  #topo img {
    margin: auto 0px;
    position: relative;
  }
  .titulos {
    margin: auto;
    max-width: 500px;
    max-height: 100px;
    align-items: center;
  }

  .titulos .title-left {
    max-width: 215px;
    max-height: 120px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .titulos h2 {
    max-width: 170px;
    max-height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin: 10px 15px 10px 10px;
  }

  .title-right img {
    max-width: 7px;
    max-height: 12px;
    margin-top: 5px;
  }

  .slides {
    width: 100%;
    max-height: 1100px;
    margin: 0px auto;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    overflow: scroll;
  }

  .card {
    max-width: 350px;
    max-height: 250px;
    margin: 10px auto;
  }

  .card .legenda {
    max-width: 200px;
    max-height: 100px;
    font-weight: 600;
    line-height: 18px;
    font-size: 16px;
    float: right;
    margin: 10px;
    overflow: visible;
  }

  .card .valor {
    max-width: 195px;
    max-height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-body-20);
    font-weight: 700;
    float: right;
    margin-right: 15px;
  }

  .card .type_payment {
    max-width: 220px;
    color: var(--color-text-30);
    font-weight: 600;
    line-height: 30px;
    font-size: 12px;
    float: right;
    margin-right: 15px;
  }

  .card button {
    min-width: 274px;
    max-height: 45px;
    background-color: var(--color-body-20);
    border-radius: 4px;
    border-color: var(--color-body-20);
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }

  .card img {
    max-width: 92px;
    max-height: 92px;
    margin: 10px;
  }
  .card:last-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 350px) {
  .carrossel {
    height: 100%;
  }
  .titulos {
    margin: auto 0px;
    max-width: 338px;
    max-height: 120px;
  }

  .titulos .title-left {
    max-width: 250px;
    max-height: 100px;
    margin: auto;
  }

  .titulos .title-right {
    max-width: 100px;
    max-height: 70px;
    margin: 5px;
  }

  .titulos h2 {
    max-width: 140px;
    max-height: 70px;
    font-size: 14px;
    margin: 5px;
  }

  .titulos img.star {
    max-width: 25px;
    max-height: 30px;
    margin: auto 0px;
  }

  .slides {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    flex-wrap: wrap;
  }

  .card {
    max-width: 250px;
    min-height: 250px;
    margin: 10px auto;
  }

  .card .legenda {
    max-width: 170px;
    max-height: 100px;
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;
    float: right;
    margin: 10px;
    overflow: visible;
  }

  .card .valor {
    max-width: 185px;
    max-height: 40px;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-body-20);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    float: center;
    margin: 10px 0px 0px 20px;
  }

  .card .type_payment {
    max-width: 185px;
    color: var(--color-text-30);
    font-weight: 600;
    line-height: 30px;
    font-size: 12px;
    float: right;
    margin: 0px 0px 5px 20px;
  }

  .card button {
    min-width: 230px;
    max-height: 45px;
    background-color: var(--color-body-20);
    border-radius: 4px;
    border-color: var(--color-body-20);
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 0px 15px;
  }

  .card img {
    max-width: 85px;
    max-height: 90px;
    margin: 0px;
  }

  .card:last-child {
    margin-bottom: 20px;
  }
}

@keyframes anima {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

button:hover {
  animation-name: anima;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  width: 215px;
  height: 50px;
  background-color: #ff8c00;
}
