:root {
    --color-body-0: #055EB2;
    --color-body-10: #FC6B0F;
    --color-body-20: #FF6500;
    --color-text-30: #7F858D;
    --color-text-40: #F2F3F4;
}


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

header{
    /*border: 1px solid red;*/
    width: 1440px;
    height: 138px;
    background-color: var(--color-body-0);
    display: flex;
    width: 100%;

}

#topo {
    justify-content: left;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

#topo img{
    background-repeat: no-repeat;

}

.container {
    border: 1px solid red;
    width: 100%;
    min-height: 90vh;
    background-color: var(--color-body-20);
}

.carrossel {
    max-width: 1200px;
    height: 886px;
    background-color: var(--color-text-40);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
   margin-top: -263px;
    margin-bottom: -150px;
    margin-left: -600px; */

} 

.slides {
    width: 400%;
    height: 500px;
    display: flex;
    margin-left: 15px;
}

.slides input {
    display: none;
}

.card-1 {
    width: 270px;
    height: 436px;
    position: relative;
    border-radius: 0.25rem;
    background-color: white;
    margin: 10px;
}
.card-2 {
    width: 270px;
    height: 436px;
    position: relative;
    border-radius: 0.25rem;
    background-color: white;
    margin: 10px;
}
.card-3 {
    width: 270px;
    height: 436px;
    position: relative;
    border-radius: 0.25rem;
    background-color: white;
    margin: 10px;
}
.card-4 {
    width: 270px;
    height: 436px;
    position: relative;
    border-radius: 0.25rem;
    background-color: white;
    margin: 10px;
}

.card-1 .legenda {
    width: 250px;
    height: 80px;
    font-weight: 600;
    line-height: 18px;
    font-size: 16px;
    margin-left: 10px;
}

.card-1 .valor {
    width: 198px;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-body-20);
    font-weight: 700;
    margin-left: 10px;
}

.card-1 .type_payment {
    width: 198px;
    color: var(--color-text-0);
    font-weight: 600;
    line-height: 30px;
    font-size: 12px;
    margin-left: 10px;
}

.card-1 button {
    width: 200px;
    height: 45px;
    background-color: var(--color-body-20);
    border-radius: 4px;
    border-color: var(--color-body-20);
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.card-1 img {
    width: 162px;
    height: 162px;
    margin: 10px;
}

.card-2 .legenda {
    width: 250px;
    height: 80px;
    font-weight: 600;
    line-height: 18px;
    font-size: 16px;
    margin-left: 10px;
}

.card-2 .valor {
    width: 198px;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-body-20);
    font-weight: 700;
    margin-left: 10px;
}

.card-2 .type_payment {
    width: 198px;
    color: var(--color-text-0);
    font-weight: 600;
    line-height: 30px;
    font-size: 12px;
    margin-left: 10px;
}

.card-2 button {
    width: 200px;
    height: 45px;
    background-color: var(--color-body-20);
    border-radius: 4px;
    border-color: var(--color-body-20);
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.card-2 img {
    width: 162px;
    height: 162px;
    margin: 10px;
}

.card-3 .legenda {
    width: 250px;
    height: 80px;
    font-weight: 600;
    line-height: 18px;
    font-size: 16px;
    margin-left: 10px;
}

.card-3 .valor {
    width: 198px;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-body-20);
    font-weight: 700;
    margin-left: 10px;
}

.card-3 .type_payment {
    width: 198px;
    color: var(--color-text-0);
    font-weight: 600;
    line-height: 30px;
    font-size: 12px;
    margin-left: 10px;
}

.card-3 button {
    width: 200px;
    height: 45px;
    background-color: var(--color-body-20);
    border-radius: 4px;
    border-color: var(--color-body-20);
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.card-3 img {
    width: 162px;
    height: 162px;
    margin: 10px;
}

.card-4 .legenda {
    width: 250px;
    height: 80px;
    font-weight: 600;
    line-height: 18px;
    font-size: 16px;
    margin-left: 10px;
}

.card-4 .valor {
    width: 198px;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-body-20);
    font-weight: 700;
    margin-left: 10px;
}

.card-4 .type_payment {
    width: 198px;
    color: var(--color-text-0);
    font-weight: 600;
    line-height: 30px;
    font-size: 12px;
    margin-left: 10px;
}

.card-4 button {
    width: 200px;
    height: 45px;
    background-color: var(--color-body-20);
    border-radius: 4px;
    border-color: var(--color-body-20);
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.card-4 img {
    width: 162px;
    height: 162px;
    margin: 10px;

}


footer {
    /*border: 1px solid red;*/
    width: 1440px;
    height: 110px;
    background-color: var(--color-body-0);
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;   
}


#rodape {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#rodape img{
    background-repeat: no-repeat;
    background-position: center center;
}